<%= form_for @plate_ingredient do |f| %>
 
  <% if @plate_ingredient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plate_ingredient.errors.count, "error") %> prohibited this plate_ingredient from being saved:</h2>

      <ul>
      <% @plate_ingredient.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="form-group col-md-2">
      <%= f.label :quantity %><br />
      <%= f.text_field :quantity, class: "form-control" %>
    </div>
    <div class="form-group col-md-2">
      <%= f.label :unit %><br />
      <%= f.select :unit, Ingredient.units, { include_blank: true }, class: "form-control" %>
    </div>
    <% @plate ||= @plate_ingredient.plate %>
    <%= f.hidden_field :plate_id, value: @plate.id %>
    <div class="form-group col-md-4">
      <%= f.label :ingredient_id %><br />
      <%= f.select :ingredient_id, Ingredient.all.collect {|i| [ i.name, i.id ] }, { include_blank: true }, class: "form-control" %>
    </div>

    <div class="form-group col-md-3">
      <% if request.fullpath[/edit/]%>
        <%= f.submit "Update", class: "btn btn-default" %>
      <% else %>
        <%= f.submit "Add to Plate", class: "btn btn-default" %>
      <% end %>
    </div>

  </div>
  
<% end %>
