<%= form_for @ingredient do |f| %>
  
  <%= render "shared/error_messages", object: @ingredient %>

  <div class="row">
    <div class="form-group col-md-2">
      <%= f.label :quantity %>
      <%= f.text_field :quantity, class: "form-control" %>
    </div>

    <div class="form-group col-md-2">
      <%= f.label :unit %>
      <%= f.select :unit, Ingredient.units, { include_blank: true }, class: "form-control" %>
    </div>

    <div class="form-group col-md-4">
      <%= f.label :ingredient_id %>
      <%= f.select :ingredient_id, @ingredients.all.collect {|i| [ i.name, i.id ] }, { include_blank: true }, class: "form-control" %>
    </div>

    <%= f.hidden_field :recipe_id, value: @recipe.id %>

    <div class="form-group col-md-3">
      <% if request.fullpath[/edit/]%>
        <%= f.submit "Update", class: "btn btn-default" %>
      <% else %>
        <%= f.submit "Add to recipe", class: "btn btn-default" %>
      <% end %>
    </div>
  </div>
    
<% end %>
