<h1>Listing components</h1>

<table>
  <tr>
    <th>Quantity</th>
    <th>Unit</th>
    <th>Recipe</th>
    <th>Ingredient</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @components.each do |component| %>
  <tr>
    <td><%= component.quantity %></td>
    <td><%= component.unit %></td>
    <td><%= component.recipe %></td>
    <td><%= component.ingredient %></td>
    <td><%= link_to 'Show', component %></td>
    <td><%= link_to 'Edit', edit_component_path(component) %></td>
    <td><%= link_to 'Destroy', component, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Component', new_component_path %>
