<h1>Listing recipe_components</h1>

<table>
  <tr>
    <th>Quantity</th>
    <th>Unit</th>
    <th>Recipe</th>
    <th>Component</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @recipe_components.each do |recipe_component| %>
  <tr>
    <td><%= recipe_component.quantity %></td>
    <td><%= recipe_component.unit %></td>
    <td><%= recipe_component.recipe_id %></td>
    <td><%= recipe_component.component_id %></td>
    <td><%= link_to 'Show', recipe_component %></td>
    <td><%= link_to 'Edit', edit_recipe_component_path(recipe_component) %></td>
    <td><%= link_to 'Destroy', recipe_component, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Recipe component', new_recipe_component_path %>
