<p id="notice"><%= notice %></p>

<p>
  <b>Quantity:</b>
  <%= @recipe_component.quantity %>
</p>

<p>
  <b>Unit:</b>
  <%= @recipe_component.unit %>
</p>

<p>
  <b>Recipe:</b>
  <%= @recipe_component.recipe_id %>
</p>

<p>
  <b>Component:</b>
  <%= @recipe_component.component_id %>
</p>


<%= link_to 'Edit', edit_recipe_component_path(@recipe_component) %> |
<%= link_to 'Back', recipe_components_path %>
