<%= form_for @plate_component do |f| %>
  
  <%= render "shared/error_messages", object: @plate_component %>

  <div class="row">
    <div class="form-group col-md-4">
      <%= f.label :recipe_id %>

      <select class="form-control" id="plate_component_recipe_id" name="plate_component[recipe_id]">
        <option></option>
          <% @recipes.each do |p| %>
            <% if @plate_component.recipe && @plate_component.recipe.id == p.id %>
              <option value=<%= "#{p.id}" %> data-unit=<%= "#{unit?(p.yield_unit)}" %> class="option_a" selected><%= p.name %> <%= "(#{p.yield_unit})" %></option>
            <% else %>
              <option value=<%= "#{p.id}" %> data-unit=<%= "#{unit?(p.yield_unit)}" %> class="option_a"><%= p.name %> <%= "(#{p.yield_unit})" %></option>
            <% end %>
          <% end %>
      </select>
    </div>

    <div class="form-group col-md-2">
      <%= f.label :quantity %>
      <%= f.text_field :quantity, class: "form-control" %>
    </div>

    <div class="form-group col-md-2">
      <%= f.label :unit %>

      <select class="form-control" id="plate_component_unit" name="plate_component[unit]">
        <option></option>
        <% Recipe.units.each do |i| %>
          <% if @plate_component.unit == i %>
            <option selected class="option_unit" value=<%= "#{i}" %> data-unit=<%= "#{unit?(i)}" %>><%= i %></option>
          <% else %>
            <option class="option_unit" value=<%= "#{i}" %> data-unit=<%= "#{unit?(i)}" %>><%= i %></option>
          <% end %>
        <% end %>
      </select>
    </div>

    <% @plate ||= @plate_component.plate %>

    <%= f.hidden_field :plate_id, value: @plate.id %>

    <div class="form-group col-md-3">
      <% if request.fullpath[/edit/]%>
        <%= f.submit "Update", class: "btn btn-default" %>
      <% else %>
        <%= f.submit "Add to Plate", class: "btn btn-default" %>
      <% end %>
    </div>
  </div>
    

<% end %>
