<h1>Listing plate_components</h1>

<table>
  <tr>
    <th>Quantity</th>
    <th>Unit</th>
    <th>Plate</th>
    <th>Recipe</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @plate_components.each do |plate_component| %>
  <tr>
    <td><%= plate_component.quantity %></td>
    <td><%= plate_component.unit %></td>
    <td><%= plate_component.plate %></td>
    <td><%= plate_component.recipe %></td>
    <td><%= link_to 'Show', plate_component %></td>
    <td><%= link_to 'Edit', edit_plate_component_path(plate_component) %></td>
    <td><%= link_to 'Destroy', plate_component, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Plate component', new_plate_component_path %>
