<%= form_for @recipe do |f| %>

  <div class="col-md-4">

    <%= render "shared/error_messages", object: @recipe %>

    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :recipe_category_id, "Category" %>
      <%= link_to "(Edit Categories)", recipe_categories_path %>

      <%= f.select :recipe_category_id, current_user.recipe_categories.map{ |c| [c.name, c.id] }, {}, class: "form-control"  %>
    </div>
    
    <!-- ********** Yield Input ********** -->
    <div class="row">
      <div class="form-group col-md-4">
        <%= f.label :yield, "Total Yield" %>
        <%= f.text_field :yield, class: "form-control" %>
      </div>
      <div class="form-group col-md-4">
        <%= f.label :yield_unit, "Unit" %>
        <select class="form-control" id="recipe_yiled_unit" name="recipe[yield_unit]">
          <!-- <option value></option> -->
          <%= Recipe.units.each do |unit| %>

            <% if @recipe.yield_unit == unit %>
              <option selected="selected"><%= unit.humanize.downcase %></option>
            <% else %>
              <option><%= unit.humanize.downcase %></option>
            <% end %>
          <% end %>
        </select>
      </div>
    </div>
    <!-- ********** End Yield Input ********** -->


    <hr>
    <div class="actions">
      <%= f.submit class: "btn btn-default " %>
    </div>

  </div>

    
 
  
  
<% end %>
