<div class="col-xs-8">
	<div class="panel panel-default" id="recipes_ingredient_form">
		<div class="panel-heading">
      <h3 class="panel-title">Ingredients</h3>
    </div>
    <div class="panel-body" id="recipe_ingredients_form">
    	<table class="table">
        <thead>
          <tr>
            <th>Amount</th>
            <th>Ingredient</th>
            <th>Cost</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <% @recipe.recipe_ingredients.each do |i| %>
          
          <tr>
            <td><%= i.quantity %> <%= i.unit %></td>
            <td><%= link_to i.ingredient.name, ingredient_path(i.ingredient) %></td>
            <td><%= number_to_currency i.cost if i.ingredient.price %></td>
            <td><%= link_to "Edit", edit_recipe_ingredient_path(i) %></td>
            <td><%= link_to "Delete", i, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </table>
      <%= render "recipe_ingredients/form" %>

      <%= link_to "Add Ingredient", "#", { class: "btn btn-primary", id: "add_ingredient" } %>
    </div>
	</div>
</div>