<!-- ********** Cost ********** -->
<section id="stats">
  <p class="text-muted"><%= "Total cost".upcase %></p>
  <p class="jumbo_text"><%= number_to_currency @recipe.total_cost %></p>

  <p class="text-muted"><%= "Total Yield".upcase %></p>
  <% if @recipe.yield %>
    <% y = @recipe.yield.to_s.gsub(/\.0$/, "") %>
    <p class="jumbo_text"><%= pluralize( y, @recipe.yield_unit.humanize.downcase) %></p>
  <% else %>
    <p class="jumbo_text">-</p>
  <% end %>

  <p class="text-muted"><%= "Cost per #{@recipe.yield_unit.humanize.downcase}".upcase %></p>
  <% if @recipe.yield %>
    <p class="jumbo_text"><%= number_to_currency @recipe.cost_per_unit %></p>
  <% else %>
    <p class="jumbo_text">-</p>
  <% end %>
</section>

  



  
