<h1 class="page-header">Recipes <%= link_to 'New Recipe', new_recipe_path, class: "btn btn-default pull-right" %></h1>

<div class="table-responsive">
<table class="table table-striped table-condensed">
    <thead>
      <tr>
        <th>Name</th>
        <th>Total Yield</th>
        <th>Portions</th>
        <th>Portion size</th>
        <th>Category</th>
        <th>Total Cost</th>
        <th>Portion Cost</th>
        <th></th>
      </tr>
    </thead>
      

<% @recipes.each do |recipe| %>
  <tr>
    <td><%= link_to recipe.name, recipe_path(recipe) %></td>

    <% if recipe.yield %>
      <td><%= recipe.yield %> <%= recipe.yield_unit %></td>
    <% else %>
      <td>-</td>
    <% end %>
    <td><%= recipe.portions.to_i %></td>

    <% if recipe.portion_size %>
      <td><%= recipe.portion_size %> <%= recipe.portion_unit %></td>
    <% else %>
      <td>-</td>
    <% end %>

    <td><%= recipe.category %></td>
    <td><%= number_to_currency recipe.total_cost %></td>
    <td><%= number_to_currency recipe.serving_cost %></td>
    <td><%= link_to 'Delete', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
</div>

