<section class="col-sm-4 color category color-recipe">
  <h1 class="page-header">Recipes</h1>
  <% @categories.each do |category| %>
    <a id="<%= category.name %>" href="#"><%= category.name %></a>
  <% end %>
  <hr>
  <a id="add" href="/recipe_categories">
    Add Category
    <span class="glyphicon glyphicon-th-list"></span>
  </a>

</section>

<section id="resources" class="col-sm-8">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Total Yield</th>
        <th>Category</th>
        <th>Total Cost</th>
        <th>Cost per Unit</th>
        <th></th>
      </tr>
    </thead>

    <% @recipes.each do |recipe| %>
      <tr data-category="<%= recipe.recipe_category.name %>" class="resource">
        <td><%= link_to recipe.name, recipe_path(recipe) %></td>

        <% if recipe.yield %>
          <td><%= recipe.yield %> <%= recipe.yield_unit.humanize.downcase %></td>
        <% else %>
          <td>-</td>
        <% end %>

        <td><%= recipe.recipe_category.name %></td>
        <td><%= number_to_currency recipe.total_cost %></td>
        <td><%= number_to_currency recipe.cost_per_unit %></td>
        <td><%= link_to 'Delete', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </table>
  <%= link_to 'New Recipe', new_recipe_path, class: "btn btn-default" %>
</section>