<%= form_for @ingredient do |f| %>
  
  <%= render "shared/error_messages", object: @ingredient %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :ingredient_category_id, "Category" %>
    <%= link_to "(Edit Categories)", ingredient_categories_path %>

    <%= f.select :ingredient_category_id, current_user.ingredient_categories.map{ |c| [c.name, c.id] }, {}, class: "form-control"  %>
  </div>

  <hr>
  
  <!-- ********** Price per Unit Input ********** -->
  <div class="row">
    <div class="form-group col-md-4">
      <%= f.label :price, "Price per" %>
      <%= f.text_field :price, class: "form-control" %>
    </div>
    
    <div class="form-group col-md-8">
      <%= f.label :unit %>
      <select class="form-control" id="ingredient_unit" name="ingredient[unit]">
        <option></option>
        <%= Ingredient.units.each do |unit| %>
          <% if @ingredient.unit == unit %>
            <option selected="selected"><%= unit.humanize.downcase %></option>
          <% else %>
            <option><%= unit.humanize.downcase %></option>
          <% end %>
        <% end %>
      </select>
    </div>
  </div>
  <!-- ********** End Price Input ********** -->

  <hr>

  <div class="form-group">
    <%= f.label :yield, "Yield (Edible Portion)" %>
    <%= f.text_field :yield, class: "form-control", placeholder: "optional" %>
  </div>

  <div class="form-group">
    <%= f.label :ounces_per_cup, "Ounces per Cup (weight)" %>
    <%= f.text_field :ounces_per_cup, class: "form-control", placeholder: "optional" %>
  </div>

  <!-- <div class="form-group">
    <%= f.label :purveyor %>
    <select class="form-control" id="ingredient_purveyor" name="ingredient[purveyor]">
      <%= %w(store_1 store_2 store_3).each do |p| %>
        <% if @ingredient.purveyor == p %>
          <option selected="selected"><%= p.titleize %></option>
        <% else %>
          <option><%= p.titleize %></option>
        <% end %>
      <% end %>
    </select>
  </div> -->

  <!-- <div class="form-group">
    <%= f.label :inventory %>
    <%= f.text_field :inventory, class: "form-control" %>
  </div> -->
  
  <!-- <div class="form-group">
    <%= f.label :storage %>
    <select class="form-control" id="ingredient_storage" name="ingredient[storage]">
      <%= %w(walk-in freezer reach-in pantry).each do |s| %>
        <% if @ingredient.purveyor == s %>
          <option selected="selected"><%= s.humanize.downcase %></option>
        <% else %>
          <option><%= s.humanize.downcase %></option>
        <% end %>
      <% end %>
    </select>
  </div> -->
 
  
    <%= f.submit class: "btn btn-default" %>
  
<% end %>
