<h1 class="page-header"><%= @ingredient.name %> <small> <%= @ingredient.category %> </small></h1>

<div class="row">
  <div class="col-md-4">
    <p class="text-muted"><b><%= "Price/Unit".upcase %></b></p>
    <p class="jumbo_text">
      <% if @ingredient.price %>
        <%= number_to_currency @ingredient.price %> / <%= @ingredient.unit %>
      <% else %>
        -
      <% end %>
    </p>


    <p class="text-muted"><b><%= "Yield".upcase %></b></p>
    <p class="jumbo_text">
      <% if @ingredient.yield %>
        <%= @ingredient.yield %> %
      <% else %>
        -
      <% end %>
    </p>

    <p class="text-muted"><b><%= "Ounces per Cup".upcase %></b></p>
    <p class="jumbo_text">
      <% if @ingredient.ounces_per_cup %>
        <%= @ingredient.ounces_per_cup %> ounces
      <% else %>
        -
      <% end %>
    </p>

  </div> 

  <!-- <div class="col-md-4">

    <p class="text-muted"><b><%= "Inventory".upcase %></b></p>
    <p class="jumbo_text"><%= @ingredient.inventory %> 10 #</p>

    
    <p class="text-muted"><b><%= "Vendor".upcase %></b></p>
    <p class="jumbo_text"><%= @ingredient.purveyor %>Store XYZ</p>

    

    <p class="text-muted"><b><%= "Storage".upcase %></b></p>
    <p class="jumbo_text"><%= @ingredient.storage %> Walk-in</p>

  </div> -->
</div>
    

    



    
    
  


<%= link_to 'Edit', edit_ingredient_path(@ingredient) %> |
<%= link_to 'Back', request.referer %>
